body {
    background-color: black;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    gap: 20px;
}

.card {
    background-color: #1e1e1e;
    border: 1px solid #ced4da;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.card-title {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #FFD700;
    text-align: center;
    font-weight: bold;
}

.card-text {
    margin: 0;
    font-size: 1em;
    color: #CCCCCC;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

form button {
    margin-top: 10px;
}

.navbar-custom {
    background-color: #1e1e1e;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-custom .nav-link {
    color: #CCCCCC;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-custom .nav-link:hover {
    color: #FFD700;
    transform: scale(1.1);
}

.text-red {
    color: red;
    font-weight: bold;
    font-size: x-large;
    transition: transform 0.3s ease;
}

.text-white {
    color: white;
    font-weight: bold;
    font-size: large;
    transition: transform 0.3s ease;
}

.text-red:hover,
.text-white:hover {
    transform: scale(1.1);
}

.responsive-image {
    width: 990px;
    border-radius: 60%;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeInScale 1s forwards;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.welcomeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 800px;
    padding: 100px;
    margin: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.welcomeText .text-red {
    color: red;
    font-weight: bold;
    font-size: 2em;
    transition: transform 0.3s ease;
}

.welcomeText .text-white {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.welcomeText p {
    font-size: 1.5em;
    color: #CCCCCC;
}

.welcomeText:hover .text-red,
.welcomeText:hover .text-white {
    transform: scale(1.1);
}

.sign-in-btn,
.sign-out-btn {
    background-color: #333;
    color: #FFF;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    margin: 0 15px;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sign-in-btn:hover,
.sign-out-btn:hover {
    background-color: #FFD700;
}

.button-group {
    display: flex;
    gap: 10px; /* Adds space between buttons */
    align-items: center; /* Aligns buttons vertically */
}

.btn {
    padding: 8px 16px; /* Button padding */
    font-size: 0.9em; /* Button font size */
    border-radius: 5px; /* Rounded corners */
    border: none; /* Removes default border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.btn-danger {
    background-color: #dc3545; /* Red color for delete button */
    color: white; /* White text */
}

.btn-danger:hover {
    background-color: #c82333; /* Darker red on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}

.btn-warning {
    background-color: #ffc107; /* Yellow color for edit button */
    color: black; /* Black text */
}

.btn-warning:hover {
    background-color: #e0a800; /* Darker yellow on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}

.status-badge {
    margin-left: auto; /* Pushes the status badge to the right */
    font-size: 1em; /* Font size for status badge */
    padding: 0.5em 1em; /* Padding for status badge */
    border-radius: 5px; /* Rounded corners */
}

.badge {
    font-weight: bold; /* Bold text for badge */
}

.bg-warning {
    background-color: #ffc107; /* Yellow background for "Available" */
    color: black; /* Black text */
}

.bg-danger {
    background-color: #dc3545; /* Red background for "Sold" */
    color: white; /* White text */
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.auth-title {
    color: #CCCCCC;
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.form-group {
    margin-bottom: 30px;
    color: #CCCCCC;
    font-family: 'Montserrat', sans-serif;
}

label {
    display: flex;
    align-items: center;
    color: #CCCCCC;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
        margin: 10px;
    }
}

.status-badge {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.form-title {
    color: #FFD700;
    font-weight: bold;
}

.form-content {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    background-color: #2a2a2a;
    color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-input:focus {
    border-color: #FFD700;
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
}

.form-button {
    background-color: #FFD700;
    color: #1e1e1e;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.form-button:hover {
    background-color: #FFC107;
}

.content {
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
}

